@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #1e1e1e;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100%;
  font-family: "Source Code Pro", monospace;
  background-size: cover;
  background-repeat: no-repeat;
  height: 99vh;
}
body .container {
  height: 85vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0px 50px;
}
body .container::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 50px;
  width: 5px;
}
body .container::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: rgba(22, 21, 20, 0.768627451);
}
body .container .nav {
  margin-left: -30px;
  width: 100%;
  height: 9vh;
  display: flex;
  position: fixed;
  justify-content: center;
  padding: 20px;
  background-color: #1e1e1e;
}
body .container .nav img {
  margin-left: -30px;
}
body .typing {
  margin-top: 10px;
  border-radius: 50px;
  margin-left: 30px;
  width: 60px;
}
body .displaySpace {
  margin-top: 120px;
}
body .displaySpace .bot {
  margin-left: 30px;
  background-color: white;
  max-width: 600px;
  font-size: 16px;
  padding: 5px;
  border-radius: 0px 10px 10px 10px;
  font-family: sans-serif;
  -webkit-animation: botIn 1s linear;
          animation: botIn 1s linear;
}
body .displaySpace .bot .speechimg {
  width: auto;
}
body .displaySpace .bot .speechimg .speechIcon {
  display: block;
  margin: -20px 0px 0px auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
body .displaySpace .bot p {
  font-weight: 550;
  font-family: "Source Code Pro", monospace;
  margin-top: -35px;
}
body .displaySpace .bot::before {
  content: " ";
  display: block;
  margin-left: -65px;
  margin-top: 0px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../image/Logo.png");
}
@-webkit-keyframes botIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes botIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
body .displaySpace .user {
  display: flex;
  justify-content: end;
}
body .displaySpace .user p {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  font-family: sans-serif;
  background-color: #0098fe;
  color: rgba(255, 255, 255, 0.926);
}
body .app {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 90%;
  text-align: center;
  background-color: #252525;
  padding: 10px;
  border-radius: 5px;
}
body .app input {
  width: 50%;
  border: 2px solid #0098fe;
  color: white;
  padding: 15px;
  background: #252525;
  border-radius: 50px;
  outline: none;
}
body .app button {
  position: absolute;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: 200ms linear;
  width: 50px;
  height: 50px;
}
body .app button img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
}
body .app button img:hover {
  background-color: rgba(76, 75, 75, 0.665);
}
body .app .mic {
  margin-left: -60px;
}
body .app .send {
  margin-left: 10px;
}/*# sourceMappingURL=index.css.map */